name: Build & Test
on:
  push:
    paths:
      - "*.go"
      - "*/*.go"
      - "*/*/*.go"
      - "*/*/*/*.go"
      - "*/*/*/*/*.go"
      - "*/*/*/*/*/*.go"
      - .github/workflows/main.yml

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.13.x]
        platform: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    timeout-minutes: 5
    env:
      GO111MODULE: on
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Cache Go modules
        uses: actions/cache@v2
        with:
          path: |
            $GOPATH/pkg/mod/cache/
          key: ${{ runner.os }}-build-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.OS }}-build-${{ env.cache-name }}-
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-
      - name: Build
        run: go build -o bmx ./cmd/bmx/.
      - name: Vet
        run: go vet ./...
      - name: Test
        run: go test -v -covermode="count" -coverprofile="profile.cov" ./...
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: bmx-${{ matrix.platform }}-${{ matrix.go-version }}
          path: bmx